<%#
# @file
# Main application file. Holds scaffolding present on every page.
# Then a certain non-partial view (no _ preceding filename) will be
# displayed within, based on URL
#%>

<%= render :partial => 'layouts/head' %>
<body class="<%= authenticated? ? "authenticated" : "unauthenticated" %> controller-<%= controller_name %> action-<%= action_name %>">
    <%= content_tag :div, class: "main", id: "react-app" do %>
      <%= yield %>
    <% end %>
    <% if devise_error_messages? %>
      <%= devise_error_messages! %>
    <% end %>
    <% if notice %>
      <%= notice %>
    <% end %>
    <% if alert %>
      <%= alert %>
    <% end %>
    <% if authenticated? %>
        <% # for creating and pulling in topics and synapses %>
        <% if controller_name == 'maps' && action_name == "conversation" %>
          <%= render :partial => 'maps/newtopicsecret' %>
        <% else %>
          <%= render :partial => 'maps/newtopic' %>
        <% end %>
        <%= render :partial => 'maps/newsynapse' %>
        <% # for populating the change metacode list on the topic card %>
        <%= render :partial => 'shared/metacodeoptions' %>
        <script type="text/javascript">
          Metamaps.ServerData.unreadNotificationsCount = <%= user_unread_notification_count %>
          Metamaps.ServerData.mapIsStarred = <%= @map && current_user.starred_map?(@map) ? true : false %>
        </script>
    <% end %>
<script type="text/javascript">
  Metamaps.ServerData.mobileTitle = "<%= yield(:mobile_title) %>"
</script>
    <div class="hidden"><%= render :partial => 'shared/filterBox' %></div>
    <div id="loading"></div>
<%= render :partial => 'layouts/foot' %>
